<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
  <!-- the keys are the string of the enum of System.Windows.Forms.Keys class-->
    <add key="D1" value="Some Text to Pasted when clicking CTR+1"/>
    <add key="D2" value="Some Text to Pasted when clicking CTR+2"/>
  </appSettings>
</configuration>